NODE_ENV=local
SERVICE_NAME=true-story-api
PORT=4001
CLIENT_ORIGIN=http://localhost:4000
JWT_SECRET_KEY=true-story-secret-key
DATABASE_URL=postgres://username:password@localhost:5432/database
CA_CERT=
SOLANA_CLUSTER=devnet
TOKEN_MINT_ADDRESS=Gh9ZwEmdLJ8DscKNTkTqPbNwLNNBjuSzaG9Vp2KGtKJr
TOKEN_DECIMALS=6
