@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background: rgb(23, 146, 112) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

.menu {
  font-size: inherit;
  font-weight: 500;
}
.footer {
  font-size: inherit;
  font-weight: 400;
}

@media (max-width: 900px) {
  .wallet-adapter-button {
    font-size: 0 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    min-width: auto !important;
  }

  .wallet-adapter-button .wallet-adapter-button-start-icon {
    font-size: initial !important;
    margin-right: 1px !important;
    margin-left: 1px !important;
  }

  .wallet-adapter-button .wallet-adapter-button-start-icon img {
    width: 24px !important;
    height: 24px !important;
  }
}

@media (max-width: 900px) {
  .product-wiki-text {
    display: none;
  }
}
